.yzmplayer-info-panel-item-url,.yzmplayer-info-panel-item-title-amount,.yzmplayer-full .yzmplayer-full-in-icon,.dmrules,#link3-error {
	display: none;
}
.yzmplayer-controller .yzmplayer-icons .yzmplayer-toggle .showdan-setting .yzmplayer-setting-showdan input:not(:checked)+label:after {
	color: #757575 !important;
}
.yzmplayer-controller .yzmplayer-icons .yzmplayer-toggle input+label {
	background-color: #757575;
}
.yzmplayer-controller .yzmplayer-icons .yzmplayer-toggle input+label:after {
    color: #00a1d6;
	background: #fff;
	-webkit-box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
	box-shadow: 0 3px 1px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 3px 0 rgb(0 0 0 / 5%);
}
.yzmplayer-setting-showdan .showdan-setting .yzmplayer-toggle input:checked+label,.yzmplayer-volume-bar-inner,.yzmplayer-thumb,.yzmplayer-played,.yzmplayer-comment-setting-box .yzmplayer-setting-danmaku .yzmplayer-danmaku-bar-wrap .yzmplayer-danmaku-bar .yzmplayer-danmaku-bar-inner,.yzmplayer-controller .yzmplayer-icons .yzmplayer-toggle input:checked+label,label.checked,.yzmplayer-controller .yzmplayer-icons.yzmplayer-comment-box .yzmplayer-comment-setting-box .yzmplayer-comment-setting-type input:checked+span,.yzmplayer-controller .yzmplayer-icons.yzmplayer-comment-box .yzmplayer-comment-setting-box .yzmplayer-comment-setting-font input:checked+span {
	background: #00a1d6 !important;
}
.yzmplayer-setting-speeds:hover .title, .yzmplayer .yzmplayer-controller .yzmplayer-icons.yzmplayer-comment-box .yzm-yzmplayer-send-icon {
	background-color: #00a1d6 !important;
}
.yzmplayer-setting-speeds:active .title, .speed-stting speed-stting-open {
	background-color: #00a1d6 !important;
}
.yzmplayer-controller .yzmplayer-icons .yzmplayer-setting .yzmplayer-setting-speed-item:hover .yzmplayer-label {
	transition: all .2s ease-in-out;
	color: #00a1d6;
}